<!doctype html>
<html>

   <body>

   <center>
      <header> <h1> HARINI AKKANAPRAGADA</h1> </header>
		 <h2> 1001580917</h2>
      <br> <br>
      <table border = 1>
         <thead>
            <td>Name</td>
            <td>Grade</td>
            <td>Room</td>
            <td>Telnum</td>
            <td>Picture</td>
            <td>Keyword</td>
         </thead>

         {% for row in rows %}
         <tr>
            <td>{{row["name"]}}</td>
            <td>{{row["grade"]}}</td>
            <td> {{ row["room"]}}</td>
            <td>{{row['telnum']}}</td>
            <td> {{ row["picture"]}}</td>
            <td>{{row['keyword']}}</td>
         </tr>
         {% endfor %}
      </table>





      <br>
      <h2> <a href = "/">Home</a> </h2>
   </body>
</html>