<!doctype html>
<html>

   <body>

   <center>
      <header> <h1> HARINI AKKANAPRAGADA</h1> </header>
		 <h2> 1001580917</h2>
      <br> <br>
      <table border = 1>
         <thead>
            <td>Name</td>
            <td>Address</td>
            <td>city</td>
            <td>Pincode</td>
         </thead>

         {% for row in rows %}
         <tr>
            <td>{{row["name"]}}</td>
            <td>{{row["addr"]}}</td>
            <td> {{ row["city"]}}</td>
            <td>{{row['pin']}}</td>	
         </tr>
         {% endfor %}
      </table>



      <form>

          <h3>Enter course</h3>
			<form action="{{url_for('vehicleName')}}" method="POST" enctype="multipart/form-data">
	      <input type="text" value="" name="Name" placeholder="Name">
               <h3>Enter Day</h3>
			<form action="{{url_for('vehicleName')}}" method="POST" enctype="multipart/form-data">
	      <input type="text" value="" name="Name" placeholder="Name">
	      <input type="submit" value="Search">

      </form>

      <br>
      <h2> <a href = "/">Home</a> </h2>
   </body>
</html>